<div class="container" fadeInOut>
    <h1 class="title">
        <mat-icon>
            arrow_back
        </mat-icon>
             {{ viewsServices.interface.sideBar.experiencia }}
        <mat-icon>
            arrow_forward
        </mat-icon>
    </h1>

    
    <div class="content-details">
        @for (work of viewsServices.interface.experiencia; track work.id) {
         <app-cards-details 
         [logo]='work.logo' 
         [tareasRealizadas]='work.tareasRealizadas'   
         [logorsConseguidos]='work.logros'
         [startDate]='work.ingreso'
         [endDate]='work.egreso'
         />
        }
    </div>
</div>