<section class="body-card">
    <section class="top-card">
        <img src={{logo}}>
        @if (dates) {
            <h3>{{ viewsServices.interface.tarjetas.inicio }}: {{ startDate }} ● {{ viewsServices.interface.tarjetas.final }}: {{ endDate }}</h3>
        }
    </section>
    @if(pictures && picturesLink !==  ""){
        <section class="images">
            <figure>
                <img src="{{ picturesLink }}">
            </figure>
        </section>
    }
    <section class="card-content">
        <div class="card-task">
            @if(title){
                <h3>{{ viewsServices.interface.tarjetas.tareas }}</h3>
            }@else {
                <h3>{{ titleText }}</h3>
            }
            <p>{{ tareasRealizadas }}</p>
        </div>
        <mat-icon class="show-achievements">
            expand_more
        </mat-icon>
        <div class="card-achievements">
            <h3>{{ viewsServices.interface.tarjetas.logros }}</h3>
            <p>{{ logorsConseguidos }}</p>
        </div>
        @if(certificate && certificado !== ""){
            <a href="{{certificado}}" target="_blank" class="certificate">{{ buttonName }}</a>
        }
        @if(download !== ""){
            <h4 class="download">{{ viewsServices.interface.tarjetas.descargaTitulo }}</h4>
            <a href="{{download}}" target="_blank" type="button" class="download-button"> {{ viewsServices.interface.tarjetas.descarga }} </a>
        }
    </section>
</section>

