body {
  display: flex;
  flex-direction: column;

  .languaje {
    position: fixed;
    width: 200px;
    height: 80px;
    right: 15px;
    top: 0;
    border: 1px solid gray;
    border-radius: 0 0 12px 12px;
  }
  
  .side-bar {
    background-color: black;
    position: fixed;
    left: 0;
    top: 25%;
    transform: translateY(-25%);
    border-radius: 0 12px 12px 0;
    float: left;
    width: 20%;
    z-index: 99;
  }

  app-content {
    float: right;
    width: 100%;
  }
}

@media (min-width:360px) and (max-width:1080px) {

  body{
    .side-bar {
      width: 100%;
    }

    .languaje{
      position: static;
      border: none;
      margin-left: 27%;
    }
  }
}