body {
  display: flex;
  
  app-side-bar {
    background-color: black;
    position: fixed;
    left: 0;
    top: 25%;
    transform: translateY(-25%);
    border-radius: 0 12px 12px 0;
    float: left;
    width: 20%;
    z-index: 99;
  }

  app-content {
    float: right;
    width: 100%;
  }
}