body {
  display: flex;
  flex-direction: column;

  .languaje {
    position: fixed;
    width: 200px;
    height: 80px;
    right: 15px;
    top: 0;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0 0 12px 12px;
    z-index: 100;
  }
  
  .side-bar {
    background-color: black;
    position: fixed;
    border-radius: 0 0 12px 12px;
    float: left;
    width: 30%;
    z-index: 99;
  }

  app-content {
    float: right;
    width: 100%;
  }
}

@media (min-width:360px) and (max-width:1080px) {

  body{
    .side-bar {
      width: 100%;
      left: 0;
      top: 29%;
      transform: translateY(-29%);
      margin-top: 29%;
      border-radius: 0 12px 12px 0;
    }

    .languaje{
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: none;
      
    }

    app-content{
      margin-bottom: 50%;
    }
  }
}