<div>
    <section class="welcome" (click)="hideShowMenu()">
        @if (!menu) {
        <mat-icon>
            menu_open
        </mat-icon>
        }@else{
        <mat-icon>
            hide_source
        </mat-icon>
        }
    </section>
    @if (menu) {
    <nav class="nav" Expand>
        <ul class="nav_list">
            <li class="nav_item" (click)="showHome()" (click)="hideShowMenu()" routerLink="/">
                <figure class="nav_figure">
                    <mat-icon class="nav_images">
                        home
                    </mat-icon>
                </figure>
                <article class="nav_article">
                    <p class="nav_text">{{ viewsServices.interface.sideBar.inicio }}</p>
                </article>
            </li>
            <li class="nav_item" (click)="hideShow()" (click)="hideShowMenu()" routerLink="experience">
                <figure class="nav_figure">
                    <mat-icon class="nav_images">
                        engineering
                    </mat-icon>
                </figure>
                <article class="nav_article">
                    <p class="nav_text">{{ viewsServices.interface.sideBar.experiencia }}</p>
                </article>
            </li>
            <li class="nav_item" (click)="hideShow()" (click)="hideShowMenu()" routerLink="studies">
                <figure class="nav_figure">
                    <mat-icon class="nav_images">
                        import_contacts
                    </mat-icon>
                </figure>
                <article class="nav_article">
                    <p class="nav_text">{{ viewsServices.interface.sideBar.estudios }}</p>
                </article>
            </li>
            <li class="nav_item" (click)="hideShow()" (click)="hideShowMenu()" routerLink="proyects">
                <figure class="nav_figure">
                    <mat-icon class="nav_images">
                        checklist
                    </mat-icon>
                </figure>
                <article class="nav_article">
                    <p class="nav_text">{{ viewsServices.interface.sideBar.proyectos }}</p>
                </article>
            </li>
        </ul>
    </nav>
    }
</div>