<body>
    <h1>
        <mat-icon>
            arrow_back
        </mat-icon>
             {{ viewsService.interface.popUp.titulo }}
        <mat-icon>
            arrow_forward
        </mat-icon>
    </h1>
    <h4>{{ viewsService.interface.popUp.habilidades }}</h4>
    <p>{{ viewsService.interface.popUp.parrafoUno }}
        <br>
        <br>
        {{ viewsService.interface.popUp.parrafoDos }}
        <br>
        <br>
        {{ viewsService.interface.popUp.parrafoTres }}
        {{ viewsService.interface.popUp.parrafoCuatro }}
        <br>
        <br>
        {{ viewsService.interface.popUp.parrafoCinco }}
        <br>
        <br>
        {{ viewsService.interface.popUp.parrafoSeis }}
        <br>
        <br>
        {{ viewsService.interface.popUp.parrafoSiete }}
        <br>
        <br>
        {{ viewsService.interface.popUp.parrafoOcho }}
    </p>
</body>