<body>
    <div class="content">
        <h1 class="title">
            <mat-icon>
                arrow_back
            </mat-icon>
                Este soy yo
            <mat-icon>
                arrow_forward
            </mat-icon>
        </h1>

        <p class="aboutMe">
            Me distingo por mi amabilidad y habilidades para el trabajo en equipo, siempre priorizando
            el bienestar del grupo. Mi trayectoria de 17 años en el soporte técnico a usuarios de
            aplicaciones, junto con mis 2 años de experiencia en el desarrollo de aplicaciones web, me
            han convertido en un profesional versátil y autodidacta. No temo enfrentarme a
            situaciones de alta presión, pues confío en mi capacidad para resolver problemas de
            manera eficiente. <br>
            <br>
            Mi enfoque analítico me permite abordar nuevos desafíos con determinación, disfrutando
            del proceso de análisis que precede a la toma de decisiones fundamentales. Soy conocido
            por mi cordialidad y respeto hacia mis compañeros y clientes, lo que fomenta un ambiente
            de colaboración y confianza en cualquier entorno de trabajo. Estoy siempre listo para
            superar obstáculos y alcanzar metas, aportando mi inteligencia y experiencia para el
            beneficio del equipo y la organización en su conjunto.
        </p>
    </div>
</body>