body{
    background-color: black;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMe{
    margin-top: 20px;
    width: 600px;
    height: 400px;
}

@media (min-width:360px) and (max-width:430px) {
    .aboutMe{
        padding: 0 0 0 25px;
        width: fit-content;
        height: max-content;
    }
}