<div class="container" fadeInOut>
    <h1 class="title">
        <mat-icon>
            arrow_back
        </mat-icon>
        {{ viewsServices.interface.sideBar.proyectos }}
        <mat-icon>
            arrow_forward
        </mat-icon>
    </h1>

    
    <div class="content-details">
        @for (proyect of viewsServices.interface.proyectos; track proyect.id) {
            <app-cards-details 
            [title]="false"
            [titleText]="proyect.name"
            [logo]="proyect.logo"
            [tareasRealizadas]="proyect.tareasRealizadas"
            [logorsConseguidos]="proyect.logros"
            [dates]="false" 
            [certificate]="true"
            [certificado]="proyect.repository"
            [download]="proyect.download"
            />
        }
    </div>
</div>

